<h1>Admin::Customer#index</h1>
<p>Find me in app/views/admin/customer/index.html.erb</p>


<% @customers.each do |c| %>

last_name <%= c.last_name %>
first_name<%= c.first_name %><br>
last_name_kana<%= c.last_name_kana %>
first_name_kana<%= c.first_name_kana %>


<% end %>