/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome

 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

/*ヘッダーのcss*/
nav{
  background-color: #fef4e2;
}

.container-fluid{
	margin: 0 auto;
	width: 80%;
}

.navbar{
	margin-bottom: 0px;
}

/*メインビジュアルのCSS*/
.c{
  height: 500px;
  width :100%;
}

/*フッターの固定のCSS*/
.wrapper {
  min-height: calc(100vh - 70px);
  background: #fff;
}

.footer {
  height: 50px;
}

/*カテゴリ-検索のCSS*/
.dropdown {
  display: flex;
  float: right;
}

.menu {
  width: 400px;
  text-align: center;
}

.menu-title {
  background: #717C5A;
  color: #ffffff;
}

.sub-menu {
  display: none;
  background: #B9B9B9;
  position: relative;
}

.sub-menu > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 400px;
}

.sub-menu > ul > li > a {
  text-decoration: none;
  color: #ffffff;
}

.menu:hover .sub-menu {
  display: inline-block;
}